@import "../scss/mixins";
@import "../scss/colors";

.container-notfound {
  @include main-container(gray, "../images/background-notfound.jpg");
  flex-direction: column;
  section {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    h1 {
      color: $main-color-header;
      font-weight: 700;
      font-size: 4rem;
      margin-bottom: 20px;
    }
    h3 {
      color: $main-color-header;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
    }
  }
}
